### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

**/node_modules/

/out/

**/.DS_Store
**/coverage/
package-lock.json

/tools

.gradle
!gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.jar

#jenv
.java-version

**/node_modules

# misc
**/.sass-cache
**/connect.lock
**/coverage
**/libpeerconnection.log
**/npm-debug.log
**/yarn-error.log
**/testem.log
**/typings

