<div class="logo-container">
    <img
        src="/assets/icons/icon-72x72.png"
        title="RetroQuest Icon"
        id="logo-pic"
        alt="Logo"
        class="logo-image"
    />

    <div class="logo-text-container">
        <label class="logo-text">RetroQuest</label>
        <label class="logo-sub-text"
            >A
            <a
                class="fordlabs-label"
                href="https://fordlabs.com"
                target="_blank"
                >FordLabs</a
            >
            Product</label
        >
    </div>
</div>
