<div class="container" id="countdown">
    <div class="container row" id="clock">

        <input class={{border}} type="number" value="{{ minutes | number: '2.0'}}" id="minutes" (click)="minClick()"
            (input)="minutes = $any($event.target).value" />

        <div class="container" id="colon">
            <p>:</p>
        </div>

        <input class={{border}} type="number" value="{{ seconds | number: '2.0'}}" id="seconds" (click)="secClick()"
            (input)="seconds = $any($event.target).value" />

    </div>

    <div class="container row" id="controls">

        <button type="button" (click)="startTimer()" 
        id="start"><i class="fas fa-play" aria-hidden="true"></i>
    </button>

        <button type="button" (click)="pauseTimer()" 
        id="pause"><i class="fas fa-pause" aria-hidden="true"></i>
    </button>

    </div>
</div>