@import 'sizes';

@mixin breakpoint-medium {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin breakpoint-large {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin prefers-animations {
  @media (prefers-reduced-motion: no-preference) {
    @content;
  }
}

@mixin dark-theme {
  .dark-theme {
    @content;
  }
}

@mixin site-max-width() {
  max-width: $max-width;
  margin: 0 auto;
  padding-right: $global-side-padding-mobile;
  padding-left: $global-side-padding-mobile;

  @include breakpoint-medium {
    padding-right: $global-side-padding;
    padding-left: $global-side-padding;
  }
}
