@import 'sizes';

@mixin tablet {
  @media only screen and (max-width: $max-width-tablet) {
    @content;
  }
}

@mixin mobile {
  @media only screen and (max-width: $max-width-mobile) {
    @content;
  }
}

@mixin dark-theme {
  .dark-theme & {
    @content;
  }
}

@mixin site-max-width() {
  max-width: $max-width;
  margin: 0 auto;
  padding-right: $global-side-padding;
  padding-left: $global-side-padding;

  @include mobile {
    padding-right: $global-side-padding-mobile;
    padding-left: $global-side-padding-mobile;
  }
}