@import '../../../../../styles/mixins';

.archived-board {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  gap: 2rem;

  flex-direction: column;

  @include breakpoint-medium {
    flex-direction: row;
    justify-content: center;
    align-items: unset;
  }
}
